<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.LandRequireDao">


    <resultMap id="LandRequirePO" type="com.tencent.wxcloudrun.model.po.LandRequirePO">
        <id property="lrid" column="lrid" />
        <!-- 定义普通属性 -->
        <result property="landType" column="landType" />
        <result property="transferType" column="transferType" />
        <result property="area" column="area" />
        <result property="transferTime" column="transferTime" />
        <result property="price" column="price" />
        <result property="address" column="address" />
        <result property="longtitude" column="longtitude" />
        <result property="latitude" column="latitude" />
        <result property="description" column="description" />
        <result property="telenumber" column="telenumber" />
        <result property="openid" column="openid" />
        <result property="adInfo" column="adInfo" />
        <result property="submitTime" column="submitTime" />
    </resultMap>

    <insert id = "insertLandRequire" parameterType="com.tencent.wxcloudrun.model.po.LandRequirePO">
        insert into LandRequire(landType, transferType, area, transferTime, price, address, longtitude, latitude, adInfo, description, telenumber, openid)
        values (#{landType}, #{transferType}, #{area}, #{transferTime}, #{price}, #{address}, #{longtitude}, #{latitude}, #{adInfo}, #{description}, #{telenumber}, #{openid})
    </insert>


    <update id="updateLandRequire">
        UPDATE LandRequire
        SET landType=#{landType}, transferType=#{transferType}, area=#{area}, transferTime=#{transferTime}, price=#{price}, address=#{address}, longtitude=#{longtitude}, latitude=#{latitude}, adInfo=#{adInfo}, description=#{description}, telenumber=#{telenumber}
        WHERE lrid=#{lrid}
    </update>
    <delete id="deleteLandRequire">
        DELETE
        FROM LandRequire
        WHERE lrid=#{lrid}
    </delete>
    <select id="selectByOpenid" resultType="com.tencent.wxcloudrun.model.po.LandRequirePO">
        select * from LandRequire where openid = #{openid} order by submitTime desc
    </select>
    <select id="selectByFilters" resultType="com.tencent.wxcloudrun.model.po.LandRequirePO">
        select * from LandRequire where submitTime &lt; #{submitTime}
        <if test="adInfo != null and adInfo !=''">
            and adInfo like concat('%', #{adInfo}, '%')
        </if>
        <if test="landType != null and landType !=''">
            and landType like concat(#{landType}, '%')
        </if>
        <if test="transferType != null and transferType !=''">
            and transferType = #{transferType}
        </if>
        order by submitTime desc limit 10

    </select>
    <select id="selectByLids" resultType="com.tencent.wxcloudrun.model.po.LandRequirePO">
        SELECT *
        FROM LandRequire
        WHERE lrid in
        <foreach collection="list" index="index" item="curLrid"
                 open="(" separator="," close=")">
            #{curLrid}
        </foreach>
    </select>
    <select id="select10BySubmitTime" resultType="com.tencent.wxcloudrun.model.po.LandRequirePO">
        select * from LandRequire where submitTime &lt; #{submitTime} order by submitTime desc limit 10
    </select>

    <select id = "selectBySearch" parameterType="com.tencent.wxcloudrun.dto.LandSearchDto" resultMap="LandRequirePO">
        SELECT *
        FROM LandRequire
        WHERE false or
        <trim prefix="(" suffix=")" prefixOverrides="and|or">
            <if test="landSearchDto.adInfo != null and landSearchDto.adInfo.size()>0">
                and
                <foreach collection="landSearchDto.adInfo" index="index" item="item"
                         open="(" separator="or" close=")">
                    adInfo like concat('%', #{item}, '%')
                </foreach>
            </if>
            <if test="landSearchDto.landType != null and landSearchDto.landType.size()>0">
                and
                <foreach collection="landSearchDto.landType" index="index" item="item"
                         open="(" separator="or" close=")">
                    landType like concat('%', #{item}, '%')
                </foreach>
            </if>
            <if test="landSearchDto.transferType != null and landSearchDto.transferType.size()>0">
                and
                <foreach collection="landSearchDto.transferType" index="index" item="item"
                         open="(" separator="or" close=")">
                    transferType = #{item}
                </foreach>
            </if>
            <if test="landSearchDto.submitTime != null and landSearchDto.submitTime.size()>0">
                and
                <foreach collection="landSearchDto.submitTime" index="index" item="item"
                         open="(" separator="or" close=")">
                    submitTime like concat(#{item}, '%')
                </foreach>
            </if>
            <if test="landSearchDto.transferTime != null and landSearchDto.transferTime.size()>0">
                and
                <foreach collection="landSearchDto.transferTime" index="index" item="item"
                         open="(" separator="or" close=")">
                    transferTime = #{item}
                </foreach>
            </if>
            <if test="landSearchDto.area != null and landSearchDto.area.size()>0">
                and
                <foreach collection="landSearchDto.area" index="index" item="item"
                         open="(" separator="or" close=")">
                    <choose>
                        <when test="item lte 10">
                            (area >= (#{item}-2) and area &lt;= (#{item}+2))
                        </when>
                        <when test="item lte 20">
                            (area >= (#{item}-4) and area &lt;= (#{item}+4))
                        </when>
                        <when test="item lte 30">
                            (area >= (#{item}-6) and area &lt;= (#{item}+6))
                        </when>
                        <when test="item lte 40">
                            (area >= (#{item}-8) and area &lt;= (#{item}+8))
                        </when>
                        <when test="item lte 50">
                            (area >= (#{item}-10) and area &lt;= (#{item}+10))
                        </when>
                        <otherwise>
                            (area >= (#{item}-#{item}*0.2) and area &lt;= (#{item}+#{item}*0.2))
                        </otherwise>
                    </choose>
                </foreach>
            </if>
            <if test="landSearchDto.price != null and landSearchDto.price.size()>0">
                and
                <trim prefix="(" suffix=")" suffixOverrides="or">
                    <foreach collection="landSearchDto.price" index="index" item="item"
                             open="" separator=" " close="">
                        (price >= (#{item}-#{item}*0.2) and price &lt;= (#{item}+#{item}*0.2)) or
                    </foreach>
                </trim>
            </if>
        </trim>
        order by
        <choose>
            <when test="landSearchDto.area != null and landSearchDto.area.size()>0 and landSearchDto.price != null and landSearchDto.price.size()>0">
                (abs(area-#{landSearchDto.area[0]})+(abs(price-#{landSearchDto.price[0]})/10000)),
            </when>
            <otherwise>
                <if test="landSearchDto.area != null and landSearchDto.area.size()>0">
                    abs(area-#{landSearchDto.area[0]}),
                </if>
                <if test="landSearchDto.price != null and landSearchDto.price.size()>0">
                    abs(price-#{landSearchDto.price[0]}),
                </if>
            </otherwise>
        </choose>
        submitTime desc
    </select>


</mapper>