<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.LandPostDao">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id	当前命名空间中的一个唯一标识，用于标识一个结果映射。 -->
    <resultMap id="LandPostPO" type="com.tencent.wxcloudrun.model.po.LandPostPO">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="lid" column="lid" />

        <!-- 定义普通属性 -->
        <result property="landType" column="landType" />
        <result property="transferType" column="transferType" />
        <result property="area" column="area" />
        <result property="transferTime" column="transferTime" />
        <result property="price" column="price" />
        <result property="address" column="address" />
        <result property="longtitude" column="longtitude" />
        <result property="latitude" column="latitude" />
        <result property="description" column="description" />
        <result property="pictureFileID" column="pictureFileID" />
        <result property="videoFileID" column="videoFileID" />
        <result property="warrantsFileID" column="warrantsFileID" />
        <result property="telenumber" column="telenumber" />
        <result property="status" column="status" />
        <result property="openid" column="openid" />
        <result property="submitTime" column="submitTime" />
    </resultMap>

    <!-- id 对应 Dao 中方法名，parameterType 对应 Dao 中参数类型 -->
    <insert id = "insertLandPost" parameterType="com.tencent.wxcloudrun.model.po.LandPostPO">
        insert into LandPost(landType, transferType, area, transferTime, price, address, longtitude, latitude, adInfo, description, pictureFileID, videoFileID, warrantsFileID, telenumber, openid)
        values (#{landType}, #{transferType}, #{area}, #{transferTime}, #{price}, #{address}, #{longtitude}, #{latitude}, #{adInfo}, #{description}, #{pictureFileID}, #{videoFileID}, #{warrantsFileID}, #{telenumber}, #{openid})
    </insert>


    <select id = "selectByOpenid" parameterType="java.lang.String" resultMap="LandPostPO">
        select * from LandPost where openid = #{openid} order by submitTime desc
    </select>

    <update id="updateLandPost" parameterType="com.tencent.wxcloudrun.model.po.LandPostPO">
        UPDATE LandPost
        SET landType=#{landType}, transferType=#{transferType}, area=#{area}, transferTime=#{transferTime}, price=#{price}, address=#{address}, longtitude=#{longtitude}, latitude=#{latitude}, adInfo=#{adInfo}, description=#{description}, pictureFileID=#{pictureFileID}, videoFileID=#{videoFileID}, warrantsFileID=#{warrantsFileID}, telenumber=#{telenumber}, status=false
        WHERE lid=#{lid}
    </update>

    <delete id="deleteLandPost" parameterType="java.lang.Integer">
        DELETE
        FROM landpost
        WHERE lid=#{lid}
    </delete>

    <select id = "select10BySubmitTime" parameterType="java.time.LocalDateTime" resultMap="LandPostPO">
        select * from LandPost where submitTime &lt; #{submitTime} order by submitTime desc limit 10
    </select>


</mapper>