<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.LandPostDao">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id	当前命名空间中的一个唯一标识，用于标识一个结果映射。 -->
    <resultMap id="LandPostPO" type="com.tencent.wxcloudrun.model.po.LandPostPO">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="lid" column="lid" />

        <!-- 定义普通属性 -->
        <result property="landType" column="landType" />
        <result property="transferType" column="transferType" />
        <result property="area" column="area" />
        <result property="transferTime" column="transferTime" />
        <result property="price" column="price" />
        <result property="address" column="address" />
        <result property="longtitude" column="longtitude" />
        <result property="latitude" column="latitude" />
        <result property="description" column="description" />
        <result property="pictureFileID" column="pictureFileID" />
        <result property="videoFileID" column="videoFileID" />
        <result property="warrantsFileID" column="warrantsFileID" />
        <result property="telenumber" column="telenumber" />
        <result property="status" column="status" />
        <result property="openid" column="openid" />
        <result property="submitTime" column="submitTime" />
    </resultMap>

    <!-- id 对应 Dao 中方法名，parameterType 对应 Dao 中参数类型 -->
    <insert id = "insertLandPost" parameterType="com.tencent.wxcloudrun.model.po.LandPostPO">
        insert into LandPost(landType, transferType, area, transferTime, price, address, longtitude, latitude, adInfo, description, pictureFileID, videoFileID, warrantsFileID, telenumber, openid)
        values (#{landType}, #{transferType}, #{area}, #{transferTime}, #{price}, #{address}, #{longtitude}, #{latitude}, #{adInfo}, #{description}, #{pictureFileID}, #{videoFileID}, #{warrantsFileID}, #{telenumber}, #{openid})
    </insert>


    <select id = "selectByOpenid" parameterType="java.lang.String" resultMap="LandPostPO">
        select * from LandPost where openid = #{openid} order by submitTime desc
    </select>

    <update id="updateLandPost" parameterType="com.tencent.wxcloudrun.model.po.LandPostPO">
        UPDATE LandPost
        SET landType=#{landType}, transferType=#{transferType}, area=#{area}, transferTime=#{transferTime}, price=#{price}, address=#{address}, longtitude=#{longtitude}, latitude=#{latitude}, adInfo=#{adInfo}, description=#{description}, pictureFileID=#{pictureFileID}, videoFileID=#{videoFileID}, warrantsFileID=#{warrantsFileID}, telenumber=#{telenumber}, status=false
        WHERE lid=#{lid}
    </update>

    <delete id="deleteLandPost" parameterType="java.lang.Integer">
        DELETE
        FROM landpost
        WHERE lid=#{lid}
    </delete>

    <select id = "select10BySubmitTime" parameterType="java.time.LocalDateTime" resultMap="LandPostPO">
        select * from LandPost where submitTime &lt; #{submitTime} order by submitTime desc limit 10
    </select>

    <select id = "selectByFilters" parameterType="com.tencent.wxcloudrun.dto.LandFilterDto" resultMap="LandPostPO">
        select * from LandPost where submitTime &lt; #{submitTime}
        <if test='adInfo != null and adInfo !=""'>
            and adInfo like concat('%', #{adInfo}, '%')
        </if>
        <if test='landType != null and landType !=""'>
            and landType like concat(#{landType}, '%')
        </if>
        <if test='transferType != null and transferType !=""'>
            and transferType = #{transferType}
        </if>
        order by submitTime desc limit 10
    </select>

    <select id = "selectByLids" parameterType="java.util.ArrayList" resultMap="LandPostPO">
        SELECT *
        FROM LandPost
        WHERE
          <choose>
              <when test="lids!=null and lids.size()>0">
                  lid in
                  <foreach collection="lids" index="index" item="curLid"
                           open="(" separator="," close=")">
                      ${curLid}
                  </foreach>
              </when>
              <otherwise>
                  false
              </otherwise>
          </choose>
    </select>

    <select id = "selectBySearch" parameterType="com.tencent.wxcloudrun.dto.LandSearchDto" resultMap="LandPostPO">
        SELECT *
        FROM LandPost
        WHERE false or <!-- 有个bug，landSearchDto不为空，否则多一个or -->
        <trim prefix="(" suffix=")" prefixOverrides="and|or">
            <if test="landSearchDto.adInfo != null and landSearchDto.adInfo.size()>0">
                and
                <foreach collection="landSearchDto.adInfo" index="index" item="item"
                     open="(" separator="or" close=")">
                    adInfo like concat('%', #{item}, '%')
               </foreach>
            </if>
            <if test="landSearchDto.landType != null and landSearchDto.landType.size()>0">
                and
                <foreach collection="landSearchDto.landType" index="index" item="item"
                     open="(" separator="or" close=")">
                   landType like concat('%', #{item}, '%')
               </foreach>
            </if>
            <if test="landSearchDto.transferType != null and landSearchDto.transferType.size()>0">
                and
                <foreach collection="landSearchDto.transferType" index="index" item="item"
                         open="(" separator="or" close=")">
                    transferType = #{item}
                </foreach>
            </if>
            <if test="landSearchDto.submitTime != null and landSearchDto.submitTime.size()>0">
                and
                <foreach collection="landSearchDto.submitTime" index="index" item="item"
                         open="(" separator="or" close=")">
                    submitTime like concat(#{item}, '%')
                </foreach>
            </if>
            <if test="landSearchDto.transferTime != null and landSearchDto.transferTime.size()>0">
                and
                <foreach collection="landSearchDto.transferTime" index="index" item="item"
                         open="(" separator="or" close=")">
                    transferTime = #{item}
                </foreach>
            </if>
            <if test="landSearchDto.area != null and landSearchDto.area.size()>0">
                and
                <foreach collection="landSearchDto.area" index="index" item="item"
                         open="(" separator="or" close=")">
                  <choose>
                      <when test="item lte 10">
                          (area >= (#{item}-2) and area &lt;= (#{item}+2))
                      </when>
                      <when test="item lte 20">
                          (area >= (#{item}-4) and area &lt;= (#{item}+4))
                      </when>
                      <when test="item lte 30">
                          (area >= (#{item}-6) and area &lt;= (#{item}+6))
                      </when>
                      <when test="item lte 40">
                          (area >= (#{item}-8) and area &lt;= (#{item}+8))
                      </when>
                      <when test="item lte 50">
                          (area >= (#{item}-10) and area &lt;= (#{item}+10))
                      </when>
                      <otherwise>
                          (area >= (#{item}-#{item}*0.2) and area &lt;= (#{item}+#{item}*0.2))
                      </otherwise>
                  </choose>
                </foreach>
            </if>
            <if test="landSearchDto.price != null and landSearchDto.price.size()>0">
                and
                <trim prefix="(" suffix=")" suffixOverrides="or">
                    <foreach collection="landSearchDto.price" index="index" item="item"
                             open="" separator=" " close="">
                        (price >= (#{item}-#{item}*0.2) and price &lt;= (#{item}+#{item}*0.2)) or
                    </foreach>
                </trim>
            </if>
        </trim>
        order by
        <choose>
            <when test="landSearchDto.area != null and landSearchDto.area.size()>0 and landSearchDto.price != null and landSearchDto.price.size()>0">
             (abs(area-#{landSearchDto.area[0]})+(abs(price-#{landSearchDto.price[0]})/10000)),
            </when>
            <otherwise>
             <if test="landSearchDto.area != null and landSearchDto.area.size()>0">
                 abs(area-#{landSearchDto.area[0]}),
             </if>
             <if test="landSearchDto.price != null and landSearchDto.price.size()>0">
                 abs(price-#{landSearchDto.price[0]}),
             </if>
            </otherwise>
        </choose>
        submitTime desc limit 30
    </select>

    <select id = "selectByRecommend" parameterType="com.tencent.wxcloudrun.dto.LandRecommendDto" resultMap="LandPostPO">
        select * from LandPost where lid != #{lid}
        <if test='adInfo != null and adInfo !=""'>
            and adInfo like concat('%', #{adInfo}, '%')
        </if>
        <if test='landType != null and landType !=""'>
            and landType like concat(#{landType}, '%')
        </if>
        <if test='transferType != null and transferType !=""'>
            and transferType = #{transferType}
        </if>
        order by submitTime desc limit 10
    </select>

</mapper>